/* Define GruvBox Dark Colors */
:root {
	--dark0: #282828;
	--dark1: #3c3836;
	--dark2: #504945;
	--dark3: #665c54;
	--dark4: #7c6f64;

	--light0: #fbf1c7;
	--light1: #ebdbb2;
	--light2: #d5c4a1;
	--light3: #bdae93;
	--light4: #a89984;

	--bg: var(--dark0);
	--fg: var(--light0);

	--red-bright: #fb4934;
	--green-bright: #b8bb26;
	--yellow-bright: #fabd2f;
	--blue-bright: #83a598;
	--purple-bright: #d3869b;
	--aqua-bright: #8ec07c;
	--orange-bright: #fe8019;

	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--purple: #b16286;
	--aqua: #689d6a;
	--orange: #d65d0e;

	--red-faded: #9d0006;
	--green-faded: #79740e;
	--yellow-faded: #b57614;
	--blue-faded: #076678;
	--purple-faded: #8f3f71;
	--aqua-faded: #427b58;
	--orange-faded: #af3a03;
}

/* Generate bg- classes */
.bg-dark0 {
	background-color: var(--dark0);
}

.bg-dark1 {
	background-color: var(--dark1);
}

.bg-dark2 {
	background-color: var(--dark2);
}

.bg-dark3 {
	background-color: var(--dark3);
}

.bg-dark4 {
	background-color: var(--dark4);
}

.bg-light0 {
	background-color: var(--light0);
}

.bg-light1 {
	background-color: var(--light1);
}

.bg-light2 {
	background-color: var(--light2);
}

.bg-light3 {
	background-color: var(--light3);
}

.bg-light4 {
	background-color: var(--light4);
}

.bg-red-bright {
	background-color: var(--red-bright);
}

.bg-green-bright {
	background-color: var(--green-bright);
}

.bg-yellow-bright {
	background-color: var(--yellow-bright);
}

.bg-blue-bright {
	background-color: var(--blue-bright);
}

.bg-purple-bright {
	background-color: var(--purple-bright);
}

.bg-aqua-bright {
	background-color: var(--aqua-bright);
}

.bg-orange-bright {
	background-color: var(--orange-bright);
}

.bg-red {
	background-color: var(--red);
}

.bg-green {
	background-color: var(--green);
}

.bg-yellow {
	background-color: var(--yellow);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-purple {
	background-color: var(--purple);
}

.bg-aqua {
	background-color: var(--aqua);
}

.bg-orange {
	background-color: var(--orange);
}

.bg-red-faded {
	background-color: var(--red-faded);
}

.bg-green-faded {
	background-color: var(--green-faded);
}

.bg-yellow-faded {
	background-color: var(--yellow-faded);
}

.bg-blue-faded {
	background-color: var(--blue-faded);
}

.bg-purple-faded {
	background-color: var(--purple-faded);
}

.bg-aqua-faded {
	background-color: var(--aqua-faded);
}

.bg-orange-faded {
	background-color: var(--orange-faded);
}

/* Generate color classes */
.color-dark0 {
	color: var(--dark0);
}
.color-dark1 {
	color: var(--dark1);
}
.color-dark2 {
	color: var(--dark2);
}
.color-dark3 {
	color: var(--dark3);
}
.color-dark4 {
	color: var(--dark4);
}
.color-light0 {
	color: var(--light0);
}
.color-light1 {
	color: var(--light1);
}
.color-light2 {
	color: var(--light2);
}
.color-light3 {
	color: var(--light3);
}
.color-light4 {
	color: var(--light4);
}
.color-red-bright {
	color: var(--red-bright);
}

.color-green-bright {
	color: var(--green-bright);
}

.color-yellow-bright {
	color: var(--yellow-bright);
}

.color-blue-bright {
	color: var(--blue-bright);
}

.color-purple-bright {
	color: var(--purple-bright);
}

.color-aqua-bright {
	color: var(--aqua-bright);
}

.color-orange-bright {
	color: var(--orange-bright);
}

.color-red {
	color: var(--red);
}

.color-green {
	color: var(--green);
}

.color-yellow {
	color: var(--yellow);
}

.color-blue {
	color: var(--blue);
}

.color-purple {
	color: var(--purple);
}

.color-aqua {
	color: var(--aqua);
}

.color-orange {
	color: var(--orange);
}

.color-red-faded {
	color: var(--red-faded);
}

.color-green-faded {
	color: var(--green-faded);
}

.color-yellow-faded {
	color: var(--yellow-faded);
}

.color-blue-faded {
	color: var(--blue-faded);
}

.color-purple-faded {
	color: var(--purple-faded);
}

.color-aqua-faded {
	color: var(--aqua-faded);
}

.color-orange-faded {
	color: var(--orange-faded);
}
