<div class="flex p-4 text-center font-mono">
    <div class="grow hover:underline">
        Automata Games ™
    </div>
    <%# <div class="grow invisible md:visible">Automata Games</div> %>
    <div class="grow hover:underline">
        <a href="/privacy">
            Privacy
        </a>
    </div>
</div>
