<nav class="flex mx-2 mt-2 mb-4">
    <div class="flex">
        <a href="/" class="rounded-lg px-4 py-2 hover:bg-blue">Home</a>
        <a href="/privacy" class="rounded-lg px-4 py-2 hover:bg-blue">Privacy</a>
    </div>
    <div class="flex-grow">
    </div>
    <div class="flex">
    <% if rodauth.logged_in? %>
        <a href="<%= account_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Account</a>
        <a href="<%= rodauth.logout_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Logout</a>
    <% else %>
        <a href="<%= rodauth.login_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Log in</a>
        <a href="<%= rodauth.create_account_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Register</a>
    <% end %>
    </div>
</nav>