<div class="mx-6">
    <h2 class="text-lg mb-4 text-center">Account Settings</h2>
    <div class="flex flex-col gap-4 text-center items-center">
        <a class="rounded-lg bg-blue p-2 w-full sm:w-1/2" href="<%= rodauth.change_password_path %>">Change Password</a>
        <a class="rounded-lg bg-blue p-2 w-full sm:w-1/2" href="<%= rodauth.change_login_path %>">Change Email</a>
        <a class="rounded-lg bg-orange p-2 w-full sm:w-1/2" href="<%= rodauth.close_account_path %>">Close Account</a>
    </div>
</div>
