<div class="flex items-center justify-center">
  <%= form_with class: "basis-48 flex flex-col gap-2", url: rodauth.logout_path, method: :post, data: { turbo: false } do |form| %>
    <div class="basis-10 text-xl text-center">Are you sure?</div>
    
    <% if rodauth.features.include?(:active_sessions) %>
      <div class="flex flex-row gap-2 mb-2">
        <div class="form-check">
          <%= form.check_box rodauth.global_logout_param, id: "global-logout", class: "form-check-input" %>
          <%= form.label "global-logout", rodauth.global_logout_label, class: "form-check-label" %>
        </div>
      </div>
    <% end %>

    <%= form.submit rodauth.logout_button, class: "btn btn-warning w-full" %>
  <% end %>
</div>
<div class="grow"></div>